h1{
    font-weight: 900;
    font-size: calc(1rem + 2vw);
    margin: 0;
    white-space: nowrap;
}

p{
    font-weight: 400;
    letter-spacing: 0.1rem;
    font-size: calc(0.3rem + 1.5vw);
    line-height: calc(0.7rem + 1.5vw);
    margin: 0;
}

a{
    text-decoration: none;
    font-size: 0.8rem;
    white-space: nowrap;
}

@media (max-width: 576px){

}

@media (max-width: 991px){
    h1{
        font-size: 2rem
    }

    p{
        font-size: calc(0.6rem + 1.5vw);
        line-height: calc(1rem + 1.5vw);
    }

    a{
        font-size: 1rem;
    }
}

@media (min-width: 1280px){
    h1{
        font-size: calc(1.5rem + 1.5vw);
    }

    p{
        font-size: calc(1rem + 1vw);
        line-height: calc(1.4rem + 1vw);
    }

    a{
        font-size: 1rem;
    }
}